<section class="expenses ms-custom-section">
    <div class="container">
        <div class="expenses-title-block title-block mx-xl-5">
            <h1 class="expenses-title title">Расходы</h1>
        </div>
        <div class="expenses-container d-flex flex-row flex-wrap mx-xl-5 pb-3" id="expenses-container">
            <a href="#/expense/creating" class="expense-block-adding d-flex align-items-center justify-content-center border bg-border-custom rounded" id="block-adding">
                <div class="expense-svg">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.5469 6.08984V9.05664H0.902344V6.08984H14.5469ZM9.32422 0.511719V15.0039H6.13867V0.511719H9.32422Z"
                              fill="#CED4DA"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>

<div class="modal-overlay" id="modal-overlay">
    <div class="modal-window border border-light rounded-4 m-3">
        <p class="modal-text">Вы действительно хотите удалить категорию?</p>
        <div class="modal-active d-flex justify-content-center">
            <button class="btn btn-success btn-custom" id="modal-delete" type="button">Да, удалить</button>
            <button class="btn btn-danger btn-custom" id="no-delete" type="button">Не удалять</button>
        </div>
    </div>
</div>